<h1>Welcome to Postage</h1>
<form action="/title">
  <div class="form-group">
    <label for="distance">What is your distance in miles?
    </label>
    <input id="distance" name="distance" class="form-control" type="text">
    <label for="volume">What is your length, width, height?
    </label>
    <input id="volume" name="volume" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
